

/* planshetis */
@media (max-width: 900px) {
  .cards {
    flex-wrap: wrap;
  }

  .card {
    width: 45%;
  }
}

/* telefonis */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .navbar nav a {
    margin: 0 10px;
  }

  .container {
    padding: 0 15px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 350px;
  }

  .container h1 {
    font-size: 24px;
  }

  .subtitle {
    font-size: 14px;
  }
}
